@page "/OpretVagt"
@using OrganicFest.Shared
@using OrganicFest.Client.Services
@inject Blazored.LocalStorage.ILocalStorageService localStore
@inject NavigationManager NavManager
@inject IVagtService VagtService
@inject IAfdelingService AfdelingService

<PageTitle>Tilføj Vagter</PageTitle>

<h1>TILFØJ VAGTER</h1>

<EditForm Model="vagt" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label for="Afdelingsnavn" class="bold-label"> Job :</label>
        <select @bind="vagt.Afdelingsnavn" class="form-control">
            <option value=""> ---- Vælg job her ----- </option>
            @if (afdelinger == null)
            {
                <p><em>Loading...</em></p>
            }
            else
            {
                @foreach (var afdeling in afdelinger)
                {
                    <option value="@afdeling.Afdelingsnavn">@afdeling.Afdelingsnavn</option>
                }
            }
        </select>
    </div>

    <div class="col-md-12 mb-6">
        <label for="Beskrivelse">Beskrivelse</label>
        <InputText id="Beskrivelse" @bind-Value="vagt.Beskrivelse" class="form-control" style="height: 150px;" required />
    </div>
    <div class="col-md-6 mb-3">
        <label for="StartDateTime">Start DateTime</label>
        <input type="datetime-local" id="StartDateTime" @bind="vagt.Startdate" class="form-control" required />
    </div>

    <div class="col-md-6 mb-3">
        <label for="EndDateTime">End DateTime</label>
        <input type="datetime-local" id="EndDateTime" @bind="vagt.Enddate" class="form-control" required />
    </div>

    <div>
        <label for="Priotering" class="bold-label"> Prioteret :</label>
        <select @bind="vagt.PriorityAsString" class="form-control">
            <option value=""> ---- Vælg prioteret her ----- </option>
            <option value="True">Ja</option>
            <option value="False">Nej</option>
        </select>
    </div>

    <div class="col-md-6 mb-3">
        <label for="antal">Antal</label>
        <input type="number" id="antal" @bind="vagt.antal" class="form-control" min="1" />
    </div>

    <div class="col-12 mb-3">
        <button type="submit" class="btn btn-primary">Tilføj</button>
    </div>

    <p>Se Vagtoversigt  <NavLink href="/Sevagter">Vagt oversigt som mangler frivillige</NavLink></p>

</EditForm>

@code {
    // Deklaration og initialisering af en liste (container) af Vagt-objekter
    private Vagt vagt = new Vagt();
    // Deklaration og initialisering af en liste (container) af Afdeling-objekter
    private List<Afdeling> afdelinger = new List<Afdeling>();

    // Gør at man skal være logget ind ellers bliver man sendt tilbage til LoginPage
    // Og man skal være koordinator
    protected override async Task OnInitializedAsync()
    {
        var bruger = await localStore.GetItemAsync<Bruger>("loggedInUser");
        if (bruger == null)
            NavManager.NavigateTo("/login");

        if (!bruger.IsCoordinator)
        {
            NavManager.NavigateTo("/frivillig");
            return;
        }
        afdelinger = (await AfdelingService.GetAllAfdelinger()).ToList();
    }
    // Her laves en iteretion af vagter og gøres at det er muligt at oprette flere af den samme vagt
    private async Task HandleValidSubmit()
    {
        for (int i = 0; i < vagt.antal; i++)
        {
            await VagtService.AddVagt(vagt);
        }
        vagt = new Vagt();
    }

}
